<template>
    <div class="mainContainer">
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart1" :series="chart1.series" /> -->
            <vueChart :option="chart1" autoresize />
        </div>
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart2" :series="chart2.series" /> -->
            <vueChart :option="chart2" autoresize />
        </div>
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart3" :series="chart3.series" /> -->
            <vueChart :option="chart3" autoresize />
        </div>
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart4" :series="chart4.series" /> -->
            <vueChart :option="chart4" autoresize />
        </div>
    </div>
</template>
          
<script>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { LineChart } from 'echarts/charts';
import {
    TitleComponent,
    TooltipComponent,
    LegendComponent,
    GridComponent,
    VisualMapComponent,
    ToolboxComponent
} from 'echarts/components';
import VChart from 'vue-echarts';
// import { provide } from 'vue';

use([
    CanvasRenderer,
    LineChart,
    TitleComponent,
    TooltipComponent,
    LegendComponent,
    GridComponent,
    VisualMapComponent,
    ToolboxComponent
]);

// provide(THEME_KEY, 'dark');

export default {
    name: 'VueEchartsArea',
    components: {
        'vueChart': VChart
    },
    data: function () {
        const data = [
            { name: "Jan", value: 28 },
            { name: "Feb", value: 29 },
            { name: "Mar", value: 33 },
            { name: "Apr", value: 36 },
            { name: "May", value: 23 },
            { name: "Jun", value: 23 },
            { name: "Jul", value: 28 }
        ];
        // const years = ['2012', '2013', '2014', '2015', '2016'];
        const title = 'Average High & Low Temperature'
        return {
            chart1: {
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data.map(data => data.name)
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        data: data.map(data => data.value),
                        type: 'line',
                        areaStyle: {}
                    }
                ]
            },
            chart2: {
                title: {
                    text: title,
                    left: "center"
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data: ['2013 - High', '2013 - Low'],
                    top: "bottom"
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '10%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: data.map(data => data.name)
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '2013 - High',
                        type: 'line',
                        stack: 'Total',
                        areaStyle: {},
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value)
                    },
                    {
                        name: '2013 - Low',
                        type: 'line',
                        stack: 'Total',
                        areaStyle: {},
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value - 10)
                    }
                ]
            },
            chart3: {
                color: ['#80FFA5', '#00DDFF', '#37A2FF', '#FF0087'],
                title: {
                    text: title,
                    left: "center"
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data: ['2013', '2014', '2015', '2016'],
                    top: "bottom"
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '10%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: data.map(data => data.name)
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '2013',
                        type: 'line',
                        stack: 'Total',
                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: "rgb(128, 255, 165)"

                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value + 20)
                    },
                    {
                        name: '2014',
                        type: 'line',
                        stack: 'Total',
                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: "rgb(0, 221, 255)"
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value + 10)
                    },
                    {
                        name: '2015',
                        type: 'line',
                        stack: 'Total',
                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: "rgb(55, 162, 255)"
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value)
                    },
                    {
                        name: '2016',
                        type: 'line',
                        stack: 'Total',
                        smooth: true,
                        // step: 'end',
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: "rgb(135, 0, 157)"
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value -10)
                    }
                ]
            },
            chart4: {
                color: ['#80FFA5', '#00DDFF', '#37A2FF', '#FF0087'],
                title: {
                    text: title,
                    left: "center"
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data: ['2013', '2014', '2015', '2016'],
                    top: "bottom"
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '10%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: data.map(data => data.name)
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '2013',
                        type: 'line',
                        // stack: 'Total',
                        step: "total",
                        // smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: "rgb(128, 255, 165)"

                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value + 20)
                    },
                    {
                        name: '2014',
                        type: 'line',
                        // stack: 'Total',
                        // smooth: true,
                        step: 'total',
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: "rgb(0, 221, 255)"
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value + 10)
                    },
                    {
                        name: '2015',
                        type: 'line',
                        step: 'total',
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: "rgb(55, 162, 255)"
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value)
                    }
                ]
            }
            // chart4: {
            // }
        }
    }
}
</script>
          
          <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}
</style>
          