<template>
    <div class="mainContainer">
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart1" :series="chart1.series" /> -->
            <vueChart :option="chart1" autoresize />
        </div>
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart2" :series="chart2.series" /> -->
            <vueChart :option="chart2" autoresize />
        </div>
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart3" :series="chart3.series" /> -->
            <vueChart :option="chart3" autoresize />
        </div>
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart4" :series="chart4.series" /> -->
            <vueChart :option="chart4" autoresize />
        </div>
    </div>
</template>
          
<script>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { BarChart } from 'echarts/charts';
import {
    TitleComponent,
    TooltipComponent,
    LegendComponent,
    GridComponent,
    VisualMapComponent,
    ToolboxComponent,
    DatasetComponent
} from 'echarts/components';
import VChart from 'vue-echarts';
// import { provide } from 'vue';

use([
    CanvasRenderer,
    BarChart,
    TitleComponent,
    TooltipComponent,
    LegendComponent,
    GridComponent,
    VisualMapComponent,
    ToolboxComponent,
    DatasetComponent
]);

// provide(THEME_KEY, 'dark');

export default {
    name: 'VueEchartsBar',
    components: {
        'vueChart': VChart
    },
    data: function () {

        const data = [
            { name: 'US', value: 311591917 },
            { name: 'Canada', value: 34482779 },
            { name: 'Mexico', value: 112336538 },
            { name: 'UK', value: 62641000 },
        ]

        const title = "World Populations";

        return {
            chart1: {
                title: {
                    text: title,
                    left: 'center'
                },
                xAxis: {
                    type: 'category',
                    data: data.map(data => data.name)
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        data: data.map(data => data.value),
                        type: 'bar',
                        showBackground: true,
                        backgroundStyle: {
                            color: 'rgba(180, 180, 180, 0.2)'
                        }
                    }
                ]
            },
            chart3: {
                title: {
                    text: title,
                    left: "center"
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        // Use axis to trigger tooltip
                        type: 'shadow' // 'shadow' as default; can also be 'line' or 'shadow'
                    }
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                legend: {
                    top: "bottom"
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '10%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: data.map(data => data.name)
                },
                yAxis: {
                    type: 'value',
                   
                },
                series: [
                    {
                        name: '2013',
                        type: 'bar',
                        stack: 'total',
                        label: {
                            show: false
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value )
                    },
                    {
                        name: '2014',
                        type: 'bar',
                        stack: 'total',
                        label: {
                            show: false
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: data.map(data => data.value + 1000000)
                    }
                ]
            },
            chart2: {
                title: {
                    text: title,
                    subtext: '2013-2014',
                    left: "center"
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['2013', '2014', '2015'],
                    top: "bottom"
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        // prettier-ignore
                        data: data.map(data => data.name)
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '2013',
                        type: 'bar',
                        data: data.map(data => data.value * 3),
                        markPoint: {
                            data: [
                                { type: 'max', name: 'Max' },
                                { type: 'min', name: 'Min' }
                            ]
                        },
                        markLine: {
                            data: [{ type: 'average', name: 'Avg' }]
                        }
                    },
                    {
                        name: '2014',
                        type: 'bar',
                        data: data.map(data => data.value * 2),
                        markPoint: {
                            data: [
                                { name: 'Max', value: 182.2, xAxis: 7, yAxis: 183 },
                                { name: 'Min', value: 2.3, xAxis: 11, yAxis: 3 }
                            ]
                        },
                        markLine: {
                            data: [{ type: 'average', name: 'Avg' }]
                        }
                    },
                    {
                        name: '2015',
                        type: 'bar',
                        data: data.map(data => data.value),
                        markPoint: {
                            data: [
                                { name: 'Max', value: 182.2, xAxis: 7, yAxis: 183 },
                                { name: 'Min', value: 2.3, xAxis: 11, yAxis: 3 }
                            ]
                        },
                        markLine: {
                            data: [{ type: 'average', name: 'Avg' }]
                        }
                    }
                ]
            },
            chart4:{
                title: {
                    text: title,
                    subtext: '2013-2014',
                    left: "center"
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['2013', '2014', '2015'],
                    top: "bottom"
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'value',
                        // prettier-ignore
                        
                    }
                ],
                yAxis: [
                    {
                        type: 'category',
                        data: data.map(data => data.name)
                    }
                ],
                series: [
                    {
                        name: '2013',
                        type: 'bar',
                        data: data.map(data => data.value * 3),

                    },
                    {
                        name: '2014',
                        type: 'bar',
                        data: data.map(data => data.value * 2),

                    },
                    {
                        name: '2015',
                        type: 'bar',
                        data: data.map(data => data.value),
                    }
                ]
            }
            // chart4: {
            // }
        }
    }
}
</script>
          
          <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}
</style>
          