<template>
    <div class="mainContainer">
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart1" :series="chart1.series" /> -->
            <vueChart :option="chart1" autoresize />
        </div>
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart2" :series="chart2.series" /> -->
            <vueChart :option="chart2" autoresize />
        </div>
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart3" :series="chart3.series" /> -->
            <vueChart :option="chart3" autoresize />
        </div>
        <div class="chartContainer">
            <!-- <apexchart type="line" width="400" :options="chart4" :series="chart4.series" /> -->
            <vueChart :option="chart4" autoresize />
        </div>
    </div>
</template>
          
<script>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { PieChart } from 'echarts/charts';
import {
    TitleComponent,
    TooltipComponent,
    LegendComponent,
} from 'echarts/components';
import VChart from 'vue-echarts';
// import { provide } from 'vue';

use([
    CanvasRenderer,
    PieChart,
    TitleComponent,
    TooltipComponent,
    LegendComponent,
]);

// provide(THEME_KEY, 'dark');

export default {
    name: 'VueEchartsPie',
    components: {
        'vueChart': VChart
    },
    data: function () {

        const data = [
            { value: 335, name: 'Direct' },
            { value: 310, name: 'Email' },
            { value: 274, name: 'Union Ads' },
            { value: 235, name: 'Video Ads' },
            { value: 400, name: 'Search Engine' }
        ];

        return {
            chart1: {
                title: {
                    text: 'Traffic Sources',
                    left: 'center',
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)',
                },
                legend: {
                    orient: 'horizontal',
                    top: 'bottom',
                    data: ['Direct', 'Email', 'Union Ads', 'Video Ads', 'Search Engine'],
                },
                series: [
                    {
                        name: 'Traffic Sources',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: data,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)',
                            },
                        },
                    },
                ],
            },
            chart2: {
                title: {
                    text: "Traffic Sources",
                    left: "center",
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    align: 'left',
                    top: 'bottom'
                },
                series: [
                    {
                        name: 'Access From',
                        type: 'pie',
                        radius: ['30%', '60%'],
                        avoidLabelOverlap: true,
                        itemStyle: {
                            borderRadius: 10,
                            borderColor: '#fff',
                            borderWidth: 2
                        },
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: 40,
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: data
                    }
                ]
            },
            chart3: {
                title: {
                    text: 'Traffic Sources',
                    left: 'center',
                    top: 20,

                },
                tooltip: {
                    trigger: 'item'
                },
                visualMap: {
                    show: false,
                    min: 80,
                    max: 600,
                    inRange: {
                        colorLightness: [0, 1]
                    }
                },
                series: [
                    {
                        name: 'Access From',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '50%'],
                        data: data.sort(function (a, b) {
                            return a.value - b.value;
                        }),
                        roseType: 'radius',
                        label: {

                        },
                        labelLine: {
                            lineStyle: {

                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        },
                        itemStyle: {
                            color: '#c23531',
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        },
                        animationType: 'scale',
                        animationEasing: 'elasticOut',
                        animationDelay: function () {
                            return Math.random() * 200;
                        }
                    }
                ]
            },
            chart4: {
                title: {
                    text: 'Traffic Sources',
                    left: 'center',
                },
                legend: {
                    top: 'bottom'
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                series: [
                    {
                        name: 'Nightingale Chart',
                        type: 'pie',
                        radius: ['10%', '50%'],
                        roseType: 'area',
                        itemStyle: {
                            borderRadius: 4
                        },
                        data: data
                    }
                ]
            }
        }
    }
}
</script>
          
          <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}
</style>
          