<template>
  <div class="mainContainer">
    <div class="chartContainer">
      <!-- <apexchart type="line" width="400" :options="chart1" :series="chart1.series" /> -->
      <vueChart :option="chart1" autoresize />
    </div>
    <div class="chartContainer">
      <!-- <apexchart type="line" width="400" :options="chart2" :series="chart2.series" /> -->
      <vueChart :option="chart2" autoresize />
    </div>
    <div class="chartContainer">
      <!-- <apexchart type="line" width="400" :options="chart3" :series="chart3.series" /> -->
      <vueChart :option="chart3" autoresize />
    </div>
    <div class="chartContainer">
      <!-- <apexchart type="line" width="400" :options="chart4" :series="chart4.series" /> -->
      <vueChart :option="chart4" autoresize />
    </div>
  </div>
</template>
        
<script>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { LineChart } from 'echarts/charts';
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent,
  VisualMapComponent,
  ToolboxComponent
} from 'echarts/components';
import VChart from 'vue-echarts';
// import { provide } from 'vue';

use([
  CanvasRenderer,
  LineChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent,
  VisualMapComponent,
  ToolboxComponent
]);

// provide(THEME_KEY, 'dark');

export default {
  name: 'VueEchartsLine',
  components: {
    'vueChart': VChart
  },
  data: function () {

    const data = [
      { name: "Jan", value: 28 },
      { name: "Feb", value: 29 },
      { name: "Mar", value: 33 },
      { name: "Apr", value: 36 },
      { name: "May", value: 23 },
      { name: "Jun", value: 23 },
      { name: "Jul", value: 28 }
    ];
    const years = ['2012', '2013', '2014', '2015', '2016'];
    const title = 'Average High & Low Temperature'

    return {
      chart1: {
        xAxis: {
          type: 'category',
          data: data.map(data => data.name)
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            data: data.map(data => data.value),
            type: 'line'
          }
        ]
      },
      chart2: {
        title: {
          text: title,
          left: "center"
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: years,
          top: 'bottom'
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '10%',
          containLabel: true
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: data.map(data => data.name)
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            name: "2013-High",
            type: 'line',
            stack: 'total',
            data: data.map(data => data.value)

          },
          {
            name: "2013-Low",
            type: 'line',
            stack: 'total',
            data: data.map(data => data.value - 10)

          }
        ]

      },
      chart3: {
        title: {
          text: title,
          left: "center"
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: ['Step Start', 'Step Middle', 'Step End'],
          top: "bottom"
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '10%',
          containLabel: true
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: 'category',
          data: data.map(data => data.name)
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            name: 'Step Start',
            type: 'line',
            step: 'start',
            data: data.map(data => data.value)
          }

        ]
      },
      chart4: {
        title: {
          text: "Dashed Line with Symbols",
          left: "center"
        },
        xAxis: {
          type: 'category',
          data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            data: data.map(data => data.value),
            type: 'line',
            symbol: 'circle',
            symbolSize: 20,
            lineStyle: {
              color: '#5470C6',
              width: 4,
              type: 'dashed'
            },
            itemStyle: {
              borderWidth: 3,
              borderColor: '#EE6666',
              color: 'red'
            }
          },
          {
            data: data.map(data => data.value + 10),
            type: 'line',
            symbol: 'square',
            symbolSize: 20,
            lineStyle: {
              color: '#5470C6',
              width: 4,
              type: 'dashed'
            },
            itemStyle: {
              borderWidth: 3,
              borderColor: '#EE6666',
              color: 'yellow'
            }
          },{
            data: data.map(data => data.value - 10),
            type: 'line',
            symbol: 'triangle',
            symbolSize: 20,
            lineStyle: {
              color: '#5470C6',
              width: 4,
              type: 'dashed'
            },
            itemStyle: {
              borderWidth: 3,
              borderColor: '#EE6666',
              color: 'black'
            }
          }
        ]
      }
      // chart4: {
      // }
    }
  }
}
</script>
        
        <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  gap: 3vh;
}

.chartContainer {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: white;
}
</style>
        