<template>
    <div class="app">
        <div class="main_container">
    
            <p class="titleLabel">Vue-Echarts</p>
    
            <div class="hr"></div>
    
            <p class="titleLabel">Line Charts</p>
    
            <div class="chartsContainer">
                <VueEchartLine />
            </div>
    
            <p class="titleLabel">Bar Charts</p>
    
            <div class="chartsContainer">
                <VueEchartBar />
            </div>
    
            <p class="titleLabel">Pie Charts</p>
    
            <div class="chartsContainer">
                <VueEchartPie />
            </div>
    
            <p class="titleLabel">Area Charts</p>
    
            <div class="chartsContainer">
                <VueEchartArea />
            </div>
        </div>
    </div>
    
    </template>
        
    <script>

    import VueEchartsLine from './VueEchartsLine.vue';
    import VueEchartsPie from './VueEchartsPie.vue';
    import VueEchartsBar from './VueEchartsBar.vue';
    import VueEchartsArea from './VueEchartsArea.vue'
    export default {
        name: 'VueEcharts',
        components: {
            VueEchartLine: VueEchartsLine,
            VueEchartPie: VueEchartsPie,
            VueEchartBar: VueEchartsBar,
            VueEchartArea: VueEchartsArea
        }
    }
    </script>
        
        <!-- Add "scoped" attribute to limit CSS to this component only -->
    <style scoped>
    .app {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        padding: 1%;
    
        
    }
    
    .title {
        font-family: Helvetica;
        font-size: 52px;
        font-weight: 350;
        margin: 0;
        margin-bottom: 1rem;
    }
    
    .main_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        font-family: Helvetica;
        gap: 2vh;
    }
    
    .titleLabel {
        font-size: 30px;
        margin: 0;
    }
    
    
    .subtitleLabel {
        font-size: 20px;
    }
    
    .chartsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        gap: 5vh;
        font-family: Helvetica;
    }
    
    
    .hr {
        width: 20%;
        height: 2px;
        background-color: #4fc08d
    }
    
    </style>
        