<template>
    <div class="mainContainer">
        <div id="container" class="chartContainer">
            <JSChart :options="chart1" class="chart" />
        </div>
        <div id="container1" class="chartContainer">
            <JSChart :options="chart2" class="chart" />
        </div>
        <div id="container2" class="chartContainer">
            <JSChart :options="chart3" class="chart" />
        </div>
        <div id="container3" class="chartContainer">
            <JSChart :options="chart4" class="chart" />
        </div>
    </div>
</template>
        
<script>
import JSCharting from 'jscharting-vue';
export default {
    name: 'JSChartingLine',
    components: {
        JSChart: JSCharting
    },
    data: function () {

    const data = [
      { name: "Jan", value: 28 },
      { name: "Feb", value: 29 },
      { name: "Mar", value: 33 },
      { name: "Apr", value: 36 },
      { name: "May", value: 23 },
      { name: "Jun", value: 23 },
      { name: "Jul", value: 28 }
    ];
    // const years = ['2012', '2013', '2014', '2015', '2016'];
    const title = 'Average High & Low Temperature'

        return {

            chart1: {
                debug: true,
                type: 'line',
                legend_visible: false,
                xAxis: {
                    crosshair_enabled: true,
                    scale: { type: 'month' }
                },
                yAxis: {
                    orientation: 'opposite',
                    // formatString: 'c'
                },
                defaultSeries: {
                    firstPoint_label_text: '<b>%seriesName</b>',
                    defaultPoint_marker: {
                        type: 'circle',
                        size: 8,
                        fill: 'white',
                        outline: { width: 2, color: 'currentColor' }
                    }
                },
                title_label_text: title,
                series: [
                    {
                        name: '2013',
                        points: data.map(data => {return [data.name, data.value]})
                    }
                ]
            },
            chart2: {
                debug: true,
                type: 'spline',
                title_label: {
                    text: title,
                    style_fontSize: 15
                },
                legend: {
                    template: '%icon %name',
                    position: 'inside top left'
                },
                // xAxis: { scale_type: 'month' },
                defaultSeries: {
                    line_width: 3,
                    defaultPoint_marker_visible: false
                },
                series: [
                    {
                        name: '2013 -High',
                        line_tension: 0.3,
                        points: data.map(data => {return [data.name, data.value]})
                    },
                    {
                        name: '2013 - Low',
                        line_tension: 0.8,
                        points: data.map(data => {return [data.name, data.value - 10]})
                    }
                ],
                toolbar_visible: false
            },
            chart4: {
                debug: true,
                xAxis: {
                    crosshair_enabled: true,
                    scale: { type: 'month' }
                },
                legend_position: 'bottom right',
                defaultSeries: {
                    type: 'line',
                    line: {
                        width: 2,
                        caps_end: { type: 'arrow', size: '600%' }
                    },
                    opacity: 1,
                    lastPoint_marker_visible: false,
                    defaultPoint_marker: {
                        fill: 'lightenMore',
                        outline: { width: 1 }
                    }
                },
                series: [
                    {
                        line_dashStyle: 'longdash',
                        name: 'Purchases',
                        points: data.map(data => {return [data.name, data.value + 10]})
                    },
                    {
                        line_dashStyle: 'longdashdot',
                        name: 'Taxes',
                        points: data.map(data => {return [data.name, data.value]})
                    },
                    {
                        line_dashStyle: 'dash',
                        name: 'Supplies',
                        points: data.map(data => {return [data.name, data.value - 10]})
                    }
                ],
                title_label_text: title,
            },
            chart3: {
                debug: true,
                type: 'line step',
                legend_visible: false,
                xAxis: {
                    crosshair_enabled: true,
                    scale: { type: 'month' }
                },
                yAxis: {
                    orientation: 'opposite',
                },
                defaultSeries: {
                    firstPoint_label: {
                        text: '<b>%seriesName</b>',
                        verticalAlign: 'top'
                    },
                    lastPoint_label: { text: '%yValue' },
                    defaultPoint_marker: {
                        type: 'circle',
                        size: 8,
                        fill: 'white',
                        outline: { width: 2, color: 'currentColor' }
                    }
                },
                toolbar_visible: false,
                title_label_text: title,
                series: [
                    {
                        name: '2013',
                        points: data.map(data => {return [data.name, data.value]})
                    }
                ]
            }

        }
    }
}
</script>
        
        <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}

.chart {
    width: 100%;
    height: 90%;
}
</style>
        