<template>
    <div class="app">
        <div class="main_container">

            <p class="titleLabel">JSCharting</p>

            <div class="hr"></div>

            <p class="titleLabel">Line Charts</p>

            <div class="chartsContainer">
                <JSChartLine />
            </div>

            <p class="titleLabel">Bar Charts</p>

            <div class="chartsContainer">
                <JSChartBar />
            </div>

            <p class="titleLabel">Pie Charts</p>

            <div class="chartsContainer">
                <JSChartPie />
            </div>

            <p class="titleLabel">Area Charts</p>

            <div class="chartsContainer">
                <JSChartArea />
            </div>
        </div>
    </div>
</template>
        
<script>
import JSChartingBar from './JSChartingBar.vue'
import JSChartingLine from './JSChartingLine.vue'
import JSChartingPie from './JSChartingPie.vue'
import JSChartingArea from './JSChartingArea.vue'
export default {
    name: 'JSCharting',
    components: {
        JSChartBar: JSChartingBar,
        JSChartLine: JSChartingLine,
        JSChartPie: JSChartingPie,
        JSChartArea: JSChartingArea
    }
}
</script>

<style scoped>
.app {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1%;


}

.title {
    font-family: Helvetica;
    font-size: 52px;
    font-weight: 350;
    margin: 0;
    margin-bottom: 1rem;
}

.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: Helvetica;
    gap: 2vh;
}

.titleLabel {
    font-size: 30px;
    margin: 0;
}


.subtitleLabel {
    font-size: 20px;
}

.chartsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 5vh;
    font-family: Helvetica;
}


.hr {
    width: 20%;
    height: 2px;
    background-color: #008ffb
}
</style>
        