<template>
    <div class="mainContainer">
        <div id="container" class="chartContainer">
            <JSChart :options="chart1" class="chart" />
        </div>
        <div id="container1" class="chartContainer">
            <JSChart :options="chart2" class="chart" />
        </div>
        <div id="container2" class="chartContainer">
            <JSChart :options="chart3" class="chart" />
        </div>
        <div id="container3" class="chartContainer">
            <JSChart :options="chart4" class="chart" />
        </div>
    </div>
</template>
        
<script>
import JSCharting from 'jscharting-vue';
export default {
    name: 'JSChartingBar',
    components: {
        JSChart: JSCharting
    },
    data: function () {

        const data = [
            { name: 'US', value: 311591917 },
            { name: 'Canada', value: 34482779 },
            { name: 'Mexico', value: 112336538 },
            { name: 'UK', value: 62641000 },
        ]

        const title = "World Populations";
        return {

            chart1: {
                debug: true,
                defaultSeries_type: 'column',
                title_label_text: title,
                yAxis: { label_text: 'Population' },
                xAxis: {
                    label_text: 'Countries',
                    // categories: ['Q1', 'Q2', 'Q3', 'Q4']
                },
                series: [
                    {
                        name: '2020',
                        id: 's1',
                        points: data.map(data => data.value)
                    }

                ]
            },
            chart2: {
                debug: true,
                type: 'column',
                title_label_text: title,
                // yAxis: { label_text: 'Units Sold' },
                xAxis: {
                    label_text: 'Year',
                    categories: ['2013', '2014', '2015']
                },
                series: [
                    {
                        name: '2013',
                        id: 's1',
                        points: data.map(data => data.value * 3)
                    },
                    {
                        name: '2014',
                        points: data.map(data => data.value * 2)
                    },
                    {
                        name: '2015',
                        points: data.map(data => data.value)
                    }
                ]
            },
            chart3: {
                debug: true,
                type: 'column',
                title_label_text: title,
                yAxis: {
                    scale_type: 'stacked',
                    defaultTick_label_text:
                        '{Math.abs(%Value):a2}'
                },
                xAxis: {
                    label_text: 'Countries',
                    crosshair_enabled: true
                },
                defaultTooltip_label_text:
                    'Ages %xValue:<br><b>%points</b>',
                defaultPoint_tooltip:
                    '%icon {Math.abs(%Value)}',
                legend_template:
                    '%name %icon {Math.abs(%Value)}',
                series: [
                    {
                        name: '2013',
                        points: data.map(data=> {return [data.name, data.value]})
                    },
                    {
                        name: '2014',
                        points: data.map(data=> {return [data.name, data.value + 1000000]})
                    }
                ]
            },
            chart4: {
                debug: true,
                type: 'horizontalColumn',
                title_label_text: title,
                // yAxis: { label_text: 'Units Sold' },
                xAxis: {
                    label_text: 'Year',
                    categories: ['2013', '2014', '2015']
                },
                series: [
                    {
                        name: '2013',
                        id: 's1',
                        points: data.map(data => data.value * 3)
                    },
                    {
                        name: '2014',
                        points: data.map(data => data.value * 2)
                    },
                    {
                        name: '2015',
                        points: data.map(data => data.value)
                    }
                ]
            }

        }
    }
}
</script>
        
        <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}

.chart {
    width: 100%;
    height: 90%;
}
</style>
        