<template>
    <div class="mainContainer">
        <div id="container" class="chartContainer">
            <JSChart :options="chart1" class="chart" />
        </div>
        <div id="container1" class="chartContainer">
            <JSChart :options="chart2" class="chart" />
        </div>
        <div id="container2" class="chartContainer">
            <JSChart :options="chart3" class="chart" />
        </div>
        <div id="container3" class="chartContainer">
            <JSChart :options="chart4" class="chart" />
        </div>
    </div>
</template>
        
<script>
import JSCharting from 'jscharting-vue';
export default {
    name: 'JSChartingArea',
    components: {
        JSChart: JSCharting
    },
    data: function () {

        const data = [
            { name: "Jan", value: 28 },
            { name: "Feb", value: 29 },
            { name: "Mar", value: 33 },
            { name: "Apr", value: 36 },
            { name: "May", value: 23 },
            { name: "Jun", value: 23 },
            { name: "Jul", value: 28 }
        ];
        // const years = ['2012', '2013', '2014', '2015', '2016'];
        const title = 'Average High & Low Temperature'

        return {

            chart1: {
                debug: true,
                type: 'area',
                title_label_text: title,
                legend_visible: false,
                // yAxis: { formatString: 'c' },

                xAxis: {
                    crosshair_enabled: true,
                    scale: { type: 'month' }
                },

                defaultSeries: {
                    shape_opacity: 0.3,
                    defaultPoint_marker: {
                        fill: 'white',
                        type: 'circle',
                        outline: { width: 2 }
                    }
                },

                series: [
                    {
                        name: '2013',

                        points: data.map(data => {return [data.name, data.value]})
                    }
                ]
            },
            chart2: {
                debug: true,
                legend_position: 'bottom right',
                type: 'area spline',
                defaultSeries: { shape_opacity: 0.5 },
                xAxis: {
                    crosshair_enabled: true,
                    scale: { type: 'month' }
                },
                title_label_text: title,
                // yAxis: { formatString: 'c' },
                series: [
                    {
                        name: '2013 - High',
                        points: data.map(data => {return [data.name, data.value]})
                    },
                    {
                        name: '2013 - Low',
                        points: data.map(data => {return [data.name, data.value - 10]})
                    }
                ]
            },
            chart3: {
                debug: true,
                type: 'area',
                palette: 'fiveColor40',
                yAxis: {
                    scale_type: 'stackedFull',
                    // formatString: 'c',
                    defaultTick_label_text: '%value%'
                },
                defaultTooltip_label_text:
                    '<hr>%points',
                xAxis: {
                    crosshair_enabled: true,
                    scale: { type: 'month' }
                },
                defaultSeries: {
                    shape_opacity: 0.7,
                    defaultPoint: {
                        tooltip:
                            '%icon %yValue',
                        marker: {
                            type: 'circle',
                            fill: 'white',
                            outline_width: 2
                        }
                    }
                },
                title_label_text: title,
                series: [
                    {
                        name: '2013',
                        points: data.map(data => {return [data.name, data.value + 20]})
                    },
                    {
                        name: '2014',
                        points: data.map(data => {return [data.name, data.value + 10]})
                    },
                    {
                        name: '2015',
                        points: data.map(data => {return [data.name, data.value]})
                    },
                    {
                        name: '2016',
                        points: data.map(data => {return [data.name, data.value - 10]})
                    }
                ]
            },
            chart4: {
                debug: true,

                title_label: {
                    text:
                        title,
                    style_fontWeight: 'normal'
                },
                legend_position: 'inside top left',
                yAxis: {
                    scale_type: 'stacked',
                    label_text: 'Units'
                },
                xAxis: {
                    crosshair_enabled: true,
                    scale_type: 'month'
                },
                defaultSeries: {
                    type: 'area step',
                    shape_opacity: 0.7,
                    line_color: 'darkenMore',
                    defaultPoint_marker: {
                        type: 'circle',
                        fill: 'white',
                        outline_width: 2
                    }
                },
                series: [
                    {
                        name: '2013',
                        points: data.map(data => {return {x: data.name, y: data.value + 20}})
                    },
                    {
                        name: '2014',
                        points: data.map(data => {return {x: data.name, y: data.value + 10}})
                    },
                    {
                        name: '2015',
                        points: data.map(data => {return {x: data.name, y: data.value}})
                    }
                ]
            }

        }
    }
}
</script>
        
        <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}

.chart {
    width: 100%;
    height: 90%;
}
</style>
        