<template>
    <div class="mainContainer">
        <div id="container" class="chartContainer">
            <JSChart :options="chart1" class="chart" />
        </div>
        <div id="container1" class="chartContainer">
            <JSChart :options="chart2" class="chart" />
        </div>
        <div id="container2" class="chartContainer">
            <JSChart :options="chart3" class="chart" />
        </div>
        <div id="container3" class="chartContainer">
            <JSChart :options="chart4" class="chart" />
        </div>
    </div>
</template>
        
<script>
import JSCharting from 'jscharting-vue';
export default {
    name: 'JSChartingPie',
    components: {
        JSChart: JSCharting
    },
    data: function () {
        const points = [
            { y: 335, name: 'Direct' },
            { y: 310, name: 'Email' },
            { y: 274, name: 'Union Ads' },
            { y: 235, name: 'Video Ads' },
            { y: 400, name: 'Search Engine' }
        ];
        const title = "Traffic sources"
        return {

            chart1: {
                debug: true,
                title_position: 'center',
                legend: {
                    template:
                        '%icon %name',
                    position: 'inside left bottom'
                },
                defaultSeries: {
                    type: 'pie',
                    pointSelection: true
                },
                defaultPoint_label_text: '<b>%name</b>',
                title_label_text: title,
                yAxis: { label_text: 'GDP', formatString: 'n' },
                series: [
                    {
                        name: 'Traffic sources',
                        points: points
                    }
                ]
            },
            chart2: {
                debug: true,
                title: {
                    position: 'center',
                    label_text:
                        title
                },
                defaultSeries: {
                    type: 'pie',
                    angle_orientation: 220,
                    shape_padding: 0.2
                },
                defaultPoint: {
                    //label_text:'<b>%name</b>', 
                    label_text:
                        '%name',
                    tooltip:
                        '<b>%name</b><br/>Traffic: <b>%value</b><br/>',
                },
                legend: {
                    visible: false,

                },

                zAxis_formatString: 'n1',

                series: [
                    {
                        name: 'Top Population Countries',
                        points: points.map((point, index) => { return { name: point.name, y: point.y, z: index } })
                    }
                ]
            },
            chart3: {
                debug: true,
                title_position: 'center',
                legend: {
                    position: 'inside left bottom'
                },
                defaultSeries: {
                    type: 'pie donut',
                    pointSelection: true
                },
                defaultPoint_label_text: '<b>%name</b>',
                title_label_text: title,
                // yAxis: { label_text: 'GDP', formatString: 'n' },
                series: [
                    {
                        name: 'Traffic',
                        points: points
                    }
                ]
            },
            chart4: {
                debug: true,
                title: {
                    label_text:
                        title,
                    position: 'center'
                },
                legend_visible: false,
                defaultSeries: {
                    type: 'pie donut',
                    angle_orientation: 125,
                    shape_padding: 0.3,
                    mouseTracking_enabled: false
                },
                defaultPoint: {
                    label: {
                        text:
                            '<b>%name</b>',
                        margin: 10
                    }
                },
                zAxis_formatString: 'n1',
                series: [
                    {
                        name: 'Country Population',
                        points: points.map((point, index) => { return { name: point.name, y: point.y, z: (index + 1) } })
                    }
                ]
            }

        }
    }
}
</script>
        
        <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}

.chart {
    width: 100%;
    height: 90%;
}
</style>
        