<template>
  <ApexCharts />
  <VueEchart />
  <JSCharting />
</template>

<script>
import ApexCharts from './components/ApexChart/ApexCharts.vue'
import VueEchart from './components/VueEcharts/VueEcharts.vue'
import JSCharting from './components/JSCharting/JSCharting.vue'

export default {
  name: 'App',
  components: {
    ApexCharts,
    VueEchart,
    JSCharting
  }
}
</script>

<style>

body{
  background-color: black;
  margin: 0;
  background: rgb(245, 245, 245)
}
</style>
