<template>
<div class="app">
    <p class="title">Vue Charts Libraries Analysis</p>

    <div class="main_container">

        <p class="titleLabel">ApexCharts</p>

        <div class="hr"></div>

        <p class="titleLabel">Line Charts</p>

        <div class="chartsContainer">
            <apexChartLine />
        </div>

        <p class="titleLabel">Bar Charts</p>

        <div class="chartsContainer">
            <apexChartBar />
        </div>

        <p class="titleLabel">Pie Charts</p>

        <div class="chartsContainer">
            <apexChartPie />
        </div>

        <p class="titleLabel">Area Charts</p>

        <div class="chartsContainer">
            <apexChartArea />
        </div>
    </div>
</div>

</template>
    
<script>
import ApexChartsBar from './ApexChartsBar.vue';
import ApexChartLine from './ApexChartLine.vue';
import ApexChartsPie from './ApexChartsPie.vue';
import ApexChartsArea from './ApexChartsArea.vue';
export default {
    name: 'ApexCharts',
    components: {
        apexChartBar: ApexChartsBar,
        apexChartLine: ApexChartLine,
        apexChartPie: ApexChartsPie,
        apexChartArea: ApexChartsArea
    }
}
</script>
    
    <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.app {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1%;

    
}

.title {
    font-family: Helvetica;
    font-size: 52px;
    font-weight: 350;
    margin: 0;
    margin-bottom: 1rem;
}

.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: Helvetica;
    gap: 2vh;
}

.titleLabel {
    font-size: 30px;
    margin: 0;
}


.subtitleLabel {
    font-size: 20px;
}

.chartsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 5vh;
    font-family: Helvetica;
}


.hr {
    width: 20%;
    height: 2px;
    background-color: #008ffb
}

</style>
    