<template>
    <div class="mainContainer">
        <div class="chartContainer">
            <apexchart type="area" width="400" :options="chart1" :series="chart1.series" />
        </div>
        <div class="chartContainer">
            <apexchart type="area" width="400" :options="chart2" :series="chart2.series" />
        </div>
        <div class="chartContainer">
            <apexchart type="area" width="400" :options="chart3" :series="chart3.series" />
        </div>
        <div class="chartContainer">
            <apexchart type="area" width="400" :options="chart4" :series="chart4.series" />
        </div>
    </div>
</template>
        
<script>
import VueApexCharts from "vue3-apexcharts";
export default {
    name: 'ApexChartsArea',
    components: {
        apexchart: VueApexCharts
    },
    data: function () {

        const data = [
            { name: "Jan", value: 28 },
            { name: "Feb", value: 29 },
            { name: "Mar", value: 33 },
            { name: "Apr", value: 36 },
            { name: "May", value: 23 },
            { name: "Jun", value: 23 },
            { name: "Jul", value: 28 }
        ];
        // const years = ['2012', '2013', '2014', '2015', '2016'];
        const title = 'Average High & Low Temperature'

        return {

            chart1: {
                series: [{
                    name: '2013',
                    data: data.map(data => data.value)
                }],
                chart: {
                    type: 'area',
                    height: 350,
                    zoom: {
                        enabled: false
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },

                title: {
                    text: title,
                    align: 'left'
                },
                subtitle: {
                    text: 'Subtitle',
                    align: 'left'
                },
                labels: "Dates",

                yaxis: {
                    opposite: true
                },
                legend: {
                    horizontalAlign: 'left'
                }
            },
            chart2: {
                series: [{
                    name: '2013 - High',
                    data: data.map(data => data.value)
                }, {
                    name: '2013 - Low',
                    data: data.map(data => data.value - 10)
                }],
                chart: {
                    height: 350,
                    type: 'area'
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                xaxis: {
                    type: 'month',
                    categories: data.map(data => data.name)
                },
                tooltip: {
                    x: {
                        format: 'dd/MM/yy HH:mm'
                    },
                },
            },
            chart3: {
                series: [
                    {
                        name: '2015',
                        data: data.map(data => data.value + 20)
                    },
                    {
                        name: '2016',
                        data: data.map(data => data.value + 10)
                    }, {
                        name: '2013',
                        data: data.map(data => data.value)
                    }, {
                        name: '2014',
                        data: data.map(data => data.value - 10)
                    }
                ],
                chart: {
                    height: 350,
                    type: 'area'
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth'
                },
                xaxis: {
                    type: 'month',
                    categories: data.map(data => data.name)
                },
                tooltip: {
                    x: {
                        format: 'dd/MM/yy HH:mm'
                    },
                },
            },
            chart4: {
                series: [{
                    name: '2015',
                    data: data.map(data => data.value + 20)
                },
                {
                    name: '2016',
                    data: data.map(data => data.value + 10)
                }, {
                    name: '2013',
                    data: data.map(data => data.value)
                }],
                chart: {
                    height: 350,
                    type: 'area'
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'stepline'
                },
                xaxis: {
                    type: 'month',
                    categories: data.map(data => data.name)
                },
                tooltip: {
                    x: {
                        format: 'MM'
                    },
                },
            }


        }
    }
}
</script>
        
        <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}
</style>
        