<template>
    <div class="mainContainer">
        <div class="chartContainer">
            <apexchart type="pie" width="400" :options="chart1" :series="chart1.series" />
        </div>
        <div class="chartContainer">
            <apexchart type="donut" width="400" :options="chart2" :series="chart2.series" />
        </div>
        <div class="chartContainer">
            <apexchart type="pie" width="400" :options="chart3" :series="chart3.series" />
        </div>
        <div class="chartContainer">
            <apexchart type="donut" width="400" :options="chart4" :series="chart4.series" />
        </div>
    </div>
</template>
        
<script>
import VueApexCharts from "vue3-apexcharts";
export default {
    name: 'ApexChartsPie',
    components: {
        apexchart: VueApexCharts
    },
    data: function () {
        const data = [
            { y: 335, name: 'Direct' },
            { y: 310, name: 'Email' },
            { y: 274, name: 'Union Ads' },
            { y: 235, name: 'Video Ads' },
            { y: 400, name: 'Search Engine' }
        ];
        const title = "Traffic sources"
        return {
            // chartOptions: {
            //     chart: {
            //         id: 'apexchart-example',
            //     },
            //     xaxis: {
            //         categories: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno'],
            //     },


            // },
            // chartSeries: [
            //     {
            //         name: 'Serie di dati 1',
            //         data: [30, 40, 45, 50, 49, 60],
            //     },
            // ]
            chart1: {
                series: data.map(data => data.y),
                chart: {
                    width: 380,
                    type: 'pie',
                },
                title:{
                    text: title
                },
                labels: data.map(data => data.name),
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            },
            chart2: {
                series: data.map(data => data.y),
                chart: {
                    type: 'donut',
                },
                labels: data.map(data => data.name),
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            },
            chart3: {
                series: data.map(data => data.y),
                chart: {
                    type: 'donut',
                },
                title: {
                    text: title, // Personalizza il titolo qui
                    align: 'center', // Allinea il titolo al centro (opzionale)
                    margin: 20, // Imposta il margine del titolo (opzionale)
                    style: {
                        fontSize: '18px', // Imposta lo stile del testo del titolo (opzionale)
                    },
                },
                plotOptions: {
                    pie: {
                        startAngle: -90,
                        endAngle: 90,
                        offsetY: 10
                    }
                },
                grid: {
                    padding: {
                        bottom: -80
                    }
                },
                labels: data.map(data => data.name),
                legend: {
                    position: 'bottom',
                    offsetY: -50
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: '100%'
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            },
            chart4: {
                series: data.map(data => data.y),
                chart: {
                    width: '100%',
                    type: 'pie',
                },
                labels: data.map(data => data.name),
                theme: {
                    monochrome: {
                        enabled: true
                    }
                },
                plotOptions: {
                    pie: {
                        dataLabels: {
                            offset: -5
                        }
                    }
                },
                title: {
                    text: "Monochrome Pie"
                },
                dataLabels: {
                    formatter(val, opts) {
                        const name = opts.w.globals.labels[opts.seriesIndex]
                        return [name, val.toFixed(1) + '%']
                    }
                },
                legend: {
                    show: true
                }
            }

        }
    }
}
</script>
        
        <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}
</style>
        