<template>
    <div class="mainContainer">
        <div id="container" class="chartContainer">
            <apexchart type="bar" width="400" :options="chart1" :series="chart1.series" />
        </div>
        <div id="container1" class="chartContainer">
            <apexchart type="bar" width="400" :options="chart2" :series="chart2.series" />
        </div>
        <div id="container2" class="chartContainer">
            <apexchart type="bar" width="400" :options="chart3" :series="chart3.series" />
        </div>
        <div id="container3" class="chartContainer">
            <apexchart type="bar" width="400" :options="chart4" :series="chart4.series" />
        </div>
    </div>
</template>
        
<script>
import VueApexCharts from "vue3-apexcharts";
export default {
    name: 'ApexChartsBar',
    components: {
        apexchart: VueApexCharts
    },
    data: function () {

        const data = [
            { name: 'US', value: 311591917 },
            { name: 'Canada', value: 34482779 },
            { name: 'Mexico', value: 112336538 },
            { name: 'UK', value: 62641000 },
        ]

        const title = "World Populations";

        return {

            chart2: {
                series: [{
                    name: '2013',
                    data: data.map(data => data.value * 3)
                }, {
                    name: '2014',
                    data: data.map(data => data.value * 2)
                }, {
                    name: '2015',
                    data: data.map(data => data.value)
                }],
                chart: {
                    type: 'bar',
                    height: 350
                },
                title: {
                    text: title, // Personalizza il titolo qui
                    align: 'center', // Allinea il titolo al centro (opzionale)
                    margin: 10, // Imposta il margine del titolo (opzionale)
                    style: {
                        fontSize: '18px', // Imposta lo stile del testo del titolo (opzionale)
                    },
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '55%',
                        endingShape: 'rounded'

                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 2,
                    colors: ['transparent']
                },
                xaxis: {
                    categories: data.map(data => data.name),
                },
                yaxis: {
                    title: {
                        text: 'Population'
                    }
                },
                fill: {
                    opacity: 1
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val
                        }
                    }
                }
            },
            chart1: {
                series: [{
                    name: 'Population',
                    data: data.map(data => data.value)
                }],
                chart: {
                    height: 350,
                    type: 'bar',
                },
                plotOptions: {
                    bar: {
                        borderRadius: 10,
                        dataLabels: {
                            position: 'top', // top, center, bottom
                        },
                    }
                },
                dataLabels: {
                    enabled: false,
                    formatter: function (val) {
                        return val;
                    },
                    offsetY: -20,
                    style: {
                        fontSize: '12px',
                        colors: ["#304758"]
                    }
                },

                xaxis: {
                    categories: data.map(data => data.name),
                    position: 'top',
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    crosshairs: {
                        fill: {
                            type: 'gradient',
                            gradient: {
                                colorFrom: '#D8E3F0',
                                colorTo: '#BED1E6',
                                stops: [0, 100],
                                opacityFrom: 0.4,
                                opacityTo: 0.5,
                            }
                        }
                    },
                    tooltip: {
                        enabled: true,
                    }
                },
                yaxis: {
                    axisBorder: {
                        show: true
                    },
                    axisTicks: {
                        show: false,
                    },
                    labels: {
                        show: false,
                        formatter: function (val) {
                            return val;
                        }
                    }

                },
                title: {
                    text: title,
                    align: 'center',
                    style: {
                        color: '#444'
                    }
                }
            },
            chart3: {
                series: [
                    {
                        name: '2013',
                        data: data.map(data => data.value)
                    },
                    {
                        name: '2014',
                        data: data.map(data => data.value + 1000000)
                    }
                ],
                chart: {
                    type: 'bar',
                    height: 350,
                    stacked: true,
                },
                stroke: {
                    width: 1,
                    colors: ['#fff']
                },
                dataLabels: {
                    formatter: (val) => {
                        return val
                    }
                },
                plotOptions: {
                    bar: {
                        horizontal: false
                    }
                },
                xaxis: {
                    categories: data.map(data => data.name)
                },
                fill: {
                    opacity: 1
                },
                colors: ['#80c7fd', '#008FFB', '#80f1cb', '#00E396'],
                yaxis: {
                    labels: {
                        formatter: (val) => {
                            return val
                        }
                    }
                },
                legend: {
                    position: 'top',
                    horizontalAlign: 'left'
                }
            },
            chart4: {
                series: [{
                    name: '2013',
                    data: data.map(data => data.value * 3)
                }, {
                    name: '2014',
                    data: data.map(data => data.value * 2)
                }, {
                    name: '2015',
                    data: data.map(data => data.value)
                }],
                chart: {
                    type: 'horizontal bar',
                    height: 350
                },
                title: {
                    text: title, // Personalizza il titolo qui
                    align: 'center', // Allinea il titolo al centro (opzionale)
                    margin: 10, // Imposta il margine del titolo (opzionale)
                    style: {
                        fontSize: '18px', // Imposta lo stile del testo del titolo (opzionale)
                    },
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        columnWidth: '55%',
                        endingShape: 'rounded'

                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 2,
                    colors: ['transparent']
                },
                xaxis: {
                    enabled: false,
                },
                yaxis: {
                    title: {
                        text: 'Countries'
                    }
                },
                fill: {
                    opacity: 1
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val
                        }
                    }
                }
            }

        }
    }
}
</script>
        
        <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}
</style>
        