<template>
    <div class="mainContainer">
        <div class="chartContainer">
            <apexchart type="line" width="400" :options="chart1" :series="chart1.series" />
        </div>
        <div class="chartContainer">
            <apexchart type="line" width="400" :options="chart2" :series="chart2.series" />
        </div>
        <div class="chartContainer">
            <apexchart type="line" width="400" :options="chart3" :series="chart3.series" />
        </div>
        <div class="chartContainer">
            <apexchart type="line" width="400" :options="chart4" :series="chart4.series" />
        </div>
    </div>
</template>
        
<script>
import VueApexCharts from "vue3-apexcharts";
export default {
    name: 'ApexChartsLine',
    components: {
        apexchart: VueApexCharts
    },
    data: function () {

        const data = [
            { name: "Jan", value: 28 },
            { name: "Feb", value: 29 },
            { name: "Mar", value: 33 },
            { name: "Apr", value: 36 },
            { name: "May", value: 23 },
            { name: "Jun", value: 23 },
            { name: "Jul", value: 28 }
        ];
        // const years = ['2012', '2013', '2014', '2015', '2016'];
        const title = 'Average High & Low Temperature'

        return {

            chart1: {
                series: [{
                    name: "Desktops",
                    data: data.map(data => data.value)
                }],
                chart: {
                    type: 'line',
                    zoom: {
                        enabled: false
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                title: {
                    text: title,
                    align: 'left'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: data.map(data => data.name),
                }
            },
            chart2: {
                series: [
                    {
                        name: "High - 2013",
                        data: data.map(data => data.value)
                    },
                    {
                        name: "Low - 2013",
                        data: data.map(data => data.value - 10)
                    }
                ],
                chart: {
                    type: 'line',
                    dropShadow: {
                        enabled: true,
                        color: '#000',
                        top: 18,
                        left: 7,
                        blur: 10,
                        opacity: 0.2
                    },
                    toolbar: {
                        show: false
                    }
                },
                colors: ['#77B6EA', '#545454'],
                dataLabels: {
                    enabled: true,
                },
                stroke: {
                    curve: 'smooth'
                },
                title: {
                    text: 'Average High & Low Temperature',
                    align: 'left'
                },
                grid: {
                    borderColor: '#e7e7e7',
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                markers: {
                    size: 1
                },
                xaxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
                    title: {
                        text: 'Month'
                    }
                },
                yaxis: {
                    title: {
                        text: 'Temperature'
                    },
                    min: 5,
                    max: 40
                },
                legend: {
                    position: 'top',
                    horizontalAlign: 'right',
                    floating: false,
                    fontSize: '10px'
                }
            },
            chart3: {
                series: [{
                    data: data.map(data => data.value)
                }],
                chart: {
                    type: 'line',
                    height: 350
                },
                stroke: {
                    curve: 'stepline',
                },
                dataLabels: {
                    enabled: false
                },
                title: {
                    text: title,
                    align: 'left'
                },
                markers: {
                    hover: {
                        sizeOffset: 4
                    }
                }
            },
            chart4: {
                series: [{
                    name: "2014",
                    data: data.map(data => data.value)
                },
                {
                    name: "2015",
                    data: data.map(data => data.value + 10)
                },
                {
                    name: '2016',
                    data: data.map(data => data.value - 10)
                }
                ],
                chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: true
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    width: [5, 7, 5],
                    curve: 'straight',
                    dashArray: [0, 8, 5]
                },
                title: {
                    text: 'Page Statistics',
                    align: 'left'
                },
                legend: {
                    tooltipHoverFormatter: function (val, opts) {
                        return val + ' - ' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + ''
                    }
                },
                markers: {
                    size: 0,
                    hover: {
                        sizeOffset: 6
                    }
                },
                xaxis: {
                    categories: data.map(data => data.name),
                },
                tooltip: {
                    y: [
                        {
                            title: {
                                formatter: function (val) {
                                    return val + " (mins)"
                                }
                            }
                        },
                        {
                            title: {
                                formatter: function (val) {
                                    return val + " per session"
                                }
                            }
                        },
                        {
                            title: {
                                formatter: function (val) {
                                    return val;
                                }
                            }
                        }
                    ]
                },
                grid: {
                    borderColor: '#f1f1f1',
                }
            }

        }
    }
}
</script>
        
        <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}
</style>
        